# Aktiviere Rewrite
RewriteEngine On

# Basis relativ zu http://localhost/DBE-exercises/dbe-php-file-upload/
RewriteBase /DBE-exercises/dbe-php-file-upload/

# Spezielle Regel für assets-Verzeichnis
RewriteCond %{REQUEST_URI} ^/DBE-exercises/dbe-php-file-upload/assets/(.*)$
RewriteRule ^assets/(.*)$ public/assets/$1 [L]

# Spezielle Regel für file.php
RewriteCond %{REQUEST_URI} ^/DBE-exercises/dbe-php-file-upload/file.php
RewriteRule ^file.php$ public/file.php [L]

# 1) Wenn die angeforderte Ressource real existiert (Datei oder Ordner), direkt liefern
RewriteCond %{DOCUMENT_ROOT}/DBE-exercises/dbe-php-file-upload/$1 -f [OR]
RewriteCond %{DOCUMENT_ROOT}/DBE-exercises/dbe-php-file-upload/$1 -d
RewriteRule ^(.+)$ $1 [L]

# 2) Ansonsten alles auf public/index.php routen (Front Controller)
RewriteRule ^.*$ public/index.php [L]